#flats_index, #bookings_show, #bookings_index {

  h1 {
    padding-bottom: 20px;
    color: $darkblue
  }

  p{
    color:grey;
  }

  .flat-card {
    height: auto;
    width: auto;
    background-color: white;
    border: 1px solid white;
    margin: 10px;
    border-radius: 5px;
  }

  .padding-card-elements{
    padding: 5px;
  }

  .reverse-margin{
    margin-top: -45px;
  }


  .img-border{
    border: 1px white solid;
  }

  .padding-top{
    padding-top:10px;
  }
  .price-background{
    background-color: rgba(0,0,0,0.6);
    height: 35px;
    width:70px;
    color:white;
    text-align: center;
    border-radius: 3px;
    padding-top: 6px;

  }
  .reverse-margin-price{
    position: absolute;
    margin-left: 20px;
    margin-top: -175px;

  }
}

// map as sidebar
#wrapper {
  padding-right: 448px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper-map {
  // margin-right: -250px;
  right: 0px;
  top: 71px;
  width: 448px;
  background: #000;
  position: fixed;
  height: 1000px;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

@media (max-width:767px) {

    #wrapper {
      padding-right: 0;
    }

    #sidebar-wrapper-map {
      right: 0;
    }

    #wrapper.active {
      position: relative;
      right: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      right: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }

}
#map-box {
  padding: 0px;
  p {
    line-height: 12px;
  }
}
// end of map as sidebar

// Override the style of the footer
#flats_index {
  .footer-social-links {
    color: white;
    transition: all 0.3s ease;
    opacity: 0.8;

    &:hover {
      transform: scale(1.1);
      text-decoration: none;
      color: white;
      opacity: 1;
    }
  }

  #logo {
    width: 60px;
    padding-bottom: 15px;
    padding-top: 5px;
  }


  .footer-distributed{
    background-color: #303232;
    font: bold 24px sans-serif;
    padding: 15px 0px;
    margin-top: 80px;
  }
  #text-footer {
    padding-right: 448px;
  }
}


.padding-text {
  padding: 10em;
}

.element-padding {
  padding-top: 5px;
}

#card-booking-owner {
  padding-top: 20px;
}



