h1 {
  padding-bottom: 55px;
}


.flat-card {
  height: 300px;
  width: 400px;
  border: 1px solid grey;
  margin: 10px;
  border-radius: 5px;
}

.padding-card-elements{
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}