// Override the style of the navbar
#pages_home > .navbar-wagon {
  background: transparent;
  .navbar-nav > li > a,
  .navbar-nav > .open > a,
  .navbar-nav > li > a:focus,
  .navbar-nav > .open > a:focus {
    color: white;
  }
  .navbar-nav > li > a:hover,
  .navbar-nav > .open > a:hover {
    color: $navbar-hover-color;
  }
  .navbar-nav > li > a.btn {
    line-height: $navbar-btn-height;
    padding: 0 $navbar-btn-horizontal-padding;
    color: $navbar-btn-color;
    border-radius: $navbar-btn-radius;
    margin-top: ($navbar-height + 2 * $navbar-vertical-padding - $navbar-btn-height) / 2;
    font-weight: bold;
    background-color: $navbar-btn-bg;
    font-size: 12px;
    &:hover{
      background-color: darken($navbar-btn-bg, 30%);
    }
  }
}

#pages_home {
  padding-top: 0px;
}

#banner-bg-home{
  position: relative;
  background-image: image-url('backgroundhome.png');
}
#pages_home .navbar-wagon{
  margin-bottom: 0px;
}

.home-search{
  margin-top: -76px;
  z-index: 2;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(0,0,0,0.6);
}

.city-card {
  height: 300px;
  width: 400px;
  margin: 0 auto;
  border-radius: 2px;
  color: white;
  opacity: 0.8;
  &:hover{
    transition: all 0.2s ease;
    opacity: 1;
    transform: scale(1.01);
    }
}

#text-card-padded{
  padding-top: 130px;
}

.title-padded {
  padding-top: 2em;
  padding-bottom: 4em
}

#paris-city-card{
  position: relative;
  background-image: image-url('Paris.png');
}

#turin-city-card{
  position: relative;
  background-image: image-url('Turin.png');
}

#berlin-city-card{
  position: relative;
  background-image: image-url('berlin.png');
}

#cityfield{
  width: 300px;
}

@keyframes fadeInAndSlideDown {
  0% {
    transform: scale(0);
    opacity: 0.0;
    transform: translateY(-20%);
    /* start CSS properties */
  }

  100% {
    transform: translateY(0%);
     -webkit-transform: scale(1);
    opacity: 1;
    /* end CSS properties */
  }
}

@-webkit-keyframes fadeInHome {
  0% {
    transform: scale(0);
    opacity: 0.0;
    transform: translateY(-20%);
    /* start CSS properties */
  }

  100% {
    transform: translateY(0%);
     -webkit-transform: scale(1);
    opacity: 1;
    /* end CSS properties */
  }
}

@-moz-keyframes fadeInHome {
  0% {
    transform: scale(0);
    opacity: 0.0;
    transform: translateY(-20%);
    /* start CSS properties */
  }

  100% {
    transform: translateY(0%);
     -webkit-transform: scale(1);
    opacity: 1;
    /* end CSS properties */
  }
}

.fadeInAndSlideDown {
  transform: scale(0);
  opacity: 0.0;
  transform: translateY(-50%);
  animation: fadeInAndSlideDown 2s 0.5s ease forwards;
  -webkit-animation: fadeInHome 2s 0.5s ease forwards;
  -moz-animation: fadeInHome 2s 0.5s ease forwards;
}