<div class="map_box">
  <p><strong><%= flat.title.first(30) %>...</strong><br>
  Capacity: <%= flat.capacity %> people</p>
  <%= link_to "More details", flat, class: 'btn btn-success', id: 'btn-map-box' %>
</div>