<div class="container-fluid">
  <div class="row text-center">
    <h1>Flats</h1>
  </div>
  <div class="container-fluid">
    <div class="row"style="padding-left: 80px">
      <div class="col-xs-8 text-center">
        <% @flats.each do |flat|%>
          <div class="col-xs-6 text-center flat-card">
            <div class="placeholder padding-card-elements">
              <img src="http://placehold.it/300x200&amp;text=Hello+World!">
            </div>
            <div class="row padding-card-elements">
              <%= flat.title %>
            </div>
            <div class="row padding-card-elements">
              Capacity: <%= flat.capacity%> people - <%= flat.city%>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
