.footer-social-links {
  color: white;
  transition: all 0.3s ease;
  opacity: 0.8;

  &:hover{
    transform: scale(1.1);
    text-decoration: none;
    color: white;
    opacity: 1;
  }
}

#logo{
  width: 60px;
  padding-bottom: 20px;
  padding-top: 5px;
}


.footer-distributed{
  background-color: #303232;
  box-sizing: border-box;
  width: 100%;
  font: bold 24px sans-serif;
  padding: 15px 0px;
  margin-top: 80px;
}

#text-footer {
  text-align: center;
}

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

}
