<div class="container-fluid">
  <div class="row text-center">
    <h1>Add your new flat</h1>
    <p>(feel free to add an awesome description to your flat!) </p>
  </div>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6">
      <%= render 'simple_form_new' %>
    </div>
    <div class="col-xs-3"></div>
  </div>
</div>


